.container {
    width: 90%;
    margin: 3em auto 2em;
    padding: 0 2em;
    display: grid;
    grid-template-columns: [image] 1.25fr [content] 1fr;
  }
  
  .header {
    display: none;
  }
  
  .image {
    grid-area: image;
    width: 90%;
    height: 100%;
    margin-left: 10%;
    border-radius: 4px;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    object-fit: cover;
  }

  .text {
    grid-area: content;
    height: 400px;
    text-align: center;
    margin-top: calc( 50% - 100px );
  }
  
  .text p {
    font-size: 1.5em;
  }
  
  .text p:nth-child(1){
    font-size: 1.8em;
    margin: 0;
  }
  
  .text a {
    color: #000;
    text-decoration: none;
    font-size: 1.25em;
  }

  a:hover {
    color: rgba(0, 0, 0, .75);
  }
  
  .social {
    display: none
  }


 
/* =~=~=~=~=~=~ Media Queries =~=~=~=~=~=~ */

/* Phone Portrait */
@media (max-width: 599.99px) and (orientation: portrait) {
  .container{
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr .5fr;
    grid-template-areas:  "header"
                          "contact"
                          "socialMedia" 
  }
    
  .header{
    grid-area: header;
    display: block;
    margin: 0.2em;
    font-size: 2.2em;
    text-align: center;
  }

  .header .hr {
    margin: 10px 0;
  }
  
  .image {
    display: none;
  }

  .text {
    grid-area: contact;
    height: 100%;
    margin: 0.5em;
  }

  .text p:nth-child(2) {
    margin-bottom: 0.5em;
  }

  .social {
    grid-area: socialMedia;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .social a {
    color: #000;
    margin-bottom: 2em;
    text-decoration: none;
  }

  .social .instagram {
    fill:#f56040;
  }

  .social .twitter {
    fill: #1da0f2;
  }

  .social svg {
    width: 3em;
    height: 3em;
    display: block;
  }
  
  .social .instagram a:hover {
    fill:rgb(247,119,55);
  }
  
  
  .social .twitter a:hover {
    fill: rgb(0, 172, 237);
  }

  .social .filter {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1));
    width: 30%;
    margin-left: calc(50% - 15%);
    margin-bottom: .25em;
  }

}



/* Phone Landscape */
@media (max-width: 959.99px) and (orientation: landscape) {
  .container{
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-columns: .65fr 1fr;
    grid-template-rows: 80px .8fr .2fr;
    grid-template-areas:  "header header"
                          "image contact"
                          "image socialMedia";
  }  

  .header{
    grid-area: header;
    display: block;
    margin: 0.2em;
    font-size: 2.2em;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .header .hr {
    margin: 10px 0;
  }

  .image {
    grid-area: image;
    max-height: 300px;
    width: 100%;
    margin-left: .5em;    
    /* margin-top: 2em; */
  }
  
  .image img {
    width: 100%;
    height: 100%;
  }
  
  .text {
    grid-area: contact;
    height: 100%;
    margin: 0.5em;
  }

  .text p:nth-child(2) {
    margin-bottom: 0.5em;
  }

  .social {
    grid-area: socialMedia;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    text-align: center;
  }
  
  .social a {
    color: #000;
    margin-bottom: 2em;
    text-decoration: none;
  }

  .social .instagram {
    fill:#f56040;
  }

  .social .twitter {
    fill: #1da0f2;
  }

  .social svg {
    width: 3em;
    height: 3em;
    display: block;
  }
  
  .social .instagram a:hover {
    fill:rgb(247,119,55);
  }
  
  
  .social .twitter a:hover {
    fill: rgb(0, 172, 237);
  }

  .social .filter {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1));
    width: 30%;
    margin-left: calc(50% - 15%);
    margin-bottom: .25em;
  }

}
  






/*   
  .divider{
    margin: 1.5em 0;
  }
  
  a:hover {
    color: rgb(57, 108, 247);
  }
  
  .social .socialHeader {
    margin-bottom: 0.5em !important;
  }
  
  .social svg {
    fill: #fff;
    margin: 0.5em 1em;
    height: 45px;
    width: 45px;
  }
  .social svg:hover {
    fill: rgb(57, 108, 247);
  }
  
  .filter {
    filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 1));
  }
*/
  
  /* mobile-large */
  /* @media all and (min-width: 0) and (max-width: 415px) and (orientation: portrait) {
    .container {
      max-width: 90%;
      margin: 0.5em auto 0;
      padding: 0 2em;
    }
    
    .pageContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'content';
    }
  
    .header {
      visibility: visible;
      height: auto;
      padding-top: 0.5em;
      margin-bottom: 0;
    }
  
    h1 {
      margin-bottom: 0.25em;
    }
  
    .text {
      grid-area: content;
      padding-bottom: 2em;
    }
  
    .text p {
      font-size: 1.5em;
      margin-top: 0.5em;
    }
  
    a {
      font-size: 1em;
    }
  
    .social svg {
      fill: #fff;
      margin: 0 1em;
      height: 30px;
      width: 30px;
    }
  
    .image {
      display: none;
    }
  } */
  
  /* mobile-small-landscape */
  /* @media all and (min-width: 415px) and (max-width: 899px) and (orientation: landscape) {
    .container {
      max-width: 90%;
    }
  
    .pageContainer {
      display: grid;
      grid-template-columns: [lSide] 1fr [rSide] 1fr;
    }
  
    .header {
      visibility: visible;
      height: auto;
      margin-bottom: 0;
    }
  
    .text {
      grid-area: rSide;
    }
  
    .text p {
      font-size: 1.25em;
      margin-right: 0.5em;
    }
  
    .image {
      grid-area: lSide;
      height: 175px;
      width: 175px;
      margin-left: calc(50% - 125px);
      margin-bottom: 1em;
      margin-top: 1em;
    }
  
    .social svg {
      fill: #fff;
      margin: 0 0.5em;
      height: 30px;
      width: 30px;
    }
  } 
  */
  