.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto 2em;
    padding: 0 2em;
    display: grid;
    grid-template-columns: [lSide]1fr [rSide]2fr;
  }
  
  .banner {
    grid-area: lSide;
    max-width: 300px;
    height: 100%;
    position: fixed;
    top: calc(2.65em + 1px);
    margin-left: 0;
  }
  
  .albumContainer {
    grid-area: rSide;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .albumContainer h1 {
    display: none;
  }
  
  .albums {
    cursor: pointer;
    width: 45%;
    height: 325px;
    margin-left: 1em;
    margin-bottom: 20px;
    background-color: rgba(66, 66, 66, 0.95);
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  
  }
  
  /* mobile */
  @media all and (min-width: 0) and (max-width: 415px) and (orientation: portrait) {
    .container {
      max-width: 98%;
      margin: 0.5em auto 0;
      padding: 0 2em;
  
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .banner {
      display: none;
    }
  
    .albumContainer h1 {
      display: block;
      margin: 0.2em;
    }
  
    .albumContainer {
      /* max-width: 95%;
      margin: 0.5em auto 0;
      padding: 0 2em; */
    }
  
    .albums {
      width: 48%;
      margin-left: 0;
      background-color: rgba(66, 66, 66, 1);
      font-size: 0.8em;
      height: auto;
    }
  
    .header {
      /* display: block;
      height: auto;
      padding-top: 0.5em;
      margin-bottom: 0; */
    }
  }
  
  @media all and (min-width: 415px) and (max-width: 899px) and (orientation: landscape) {
    .container {
      max-width: 98%;
    }
  
    .banner {
      /* outline: 1px solid green; */
      max-width: 40%;
      height: 100%;
      position: fixed;
      top: calc(3.35em + 1px);
      margin-left: 0;
    }
  
    .albums {
      height: auto;
    }
  
  }
  