.container {
  width: 90%;
  margin: 0 auto 2em;
  padding: 0 2em;
}

  
.albumContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.albumContainer h1 {
  display: none;
}

.albums {
  min-width: 19%;
  max-width: 19%;
  min-height: 19%;
  max-height: 19%;
  margin: .5% .25% .5% .25%;
}



/* =~=~=~=~=~=~ Media Queries =~=~=~=~=~=~ */

/* Phone Portrait */
@media only screen and (max-width: 599.99px) and (orientation: portrait) {
  .container {
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .albumContainer h1 {
    display: block;
    margin: 0.2em;
    font-size: 2.2em;
    width: 100%;
    text-align: center;
  }

  .albumContainer .hr {
    margin: 10px 0;
  }
  
  .albums {
    min-width: 44%;
    max-width: 44%;
    min-height: 44%;
    max-height: 44%;
    margin: .5% 0 5.5% 0;
  }

}

/* Phone Landscape */
@media only screen and (max-width: 959.99px) and (orientation: landscape) {
  .container {
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .albumContainer h1 {
    display: block;
    margin: 0.2em;
    font-size: 2.2em;
    width: 100%;
    text-align: center;
  }

  .albumContainer .hr {
    margin: 10px 0;
  }
  
  .albums {
    min-width: 31%;
    max-width: 31%;
    min-height: 31%;
    max-height: 31%;
    margin: .75%;
  }

}

/* iPad Portrait */
@media only screen and (min-width: 600px) and (max-width: 839.99px) and (orientation: portrait) {
  .container {
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .albumContainer h1 {
    /* display: block;
    margin: 0.2em;
    font-size: 2.2em;
    width: 100%;
    text-align: center; */
  }

  .albumContainer .hr {
    margin: 10px 0;
  }
  
  .albums {
    min-width: 31%;
    max-width: 31%;
    min-height: 31%;
    max-height: 31%;
    margin: 1% .75%;
  }
}



/* iPad Landscape */
@media only screen and (min-width: 960px) and (max-width: 1279.99px) and (orientation: landscape){
  .container {
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  /* .albumContainer h1 {
    display: block;
    margin: 0.2em;
    font-size: 2.2em;
    width: 100%;
    text-align: center;
  } */

  .albumContainer .hr {
    margin: 10px 0;
  }
  
  .albums {
    min-width: 23%;
    max-width: 23%;
    min-height: 23%;
    max-height: 23%;
    margin: .75%;
  }
}

/* iPad Pro Portrait */
@media only screen and (min-width: 1024px) and (orientation: portrait) { 
  .albums {
    min-width: 23%;
    max-width: 23%;
    min-height: 23%;
    max-height: 23%;
    margin: .75%;
  }
  
}