.container {
    width: 90%;
    margin: 1.3em auto 2em;
    /* background-color: red; */
    padding: 0 2em;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.header {
    display: none;
  }

.imageContainer {
    height: 300px;
    /* overflow: hidden; */
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* padding: 0 10px 10px; */
}




@media only screen and (max-width: 599.99px) and (orientation: portrait) {
    .container {
      max-width: 98%;
      margin: 0.5em auto 1.5em;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fill, minmax(80px, 1fr)) 
    }
  
    .header {
      display: block;
      margin: 0.2em;
      font-size: 2.2em;
      width: 100%;
      text-align: center;
    }


    .header .hr {
        margin: 10px 0;
    }


}