<div class="container">
  
  <form
    class="formContainer"
    [formGroup]="newLink"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(newLink, formDirective)"
  >
    <mat-form-field class="inputs">
      <input
      autofocus
        matInput
        placeholder="Article Title"
        formControlName="title"
        required
      />
    </mat-form-field>

    <mat-form-field class="inputs">
      <input
        matInput
        placeholder="URL"
        formControlName="url"
        required
        type="url"
      />
    </mat-form-field>

    <mat-form-field class="inputs">
      <input
        matInput
        placeholder="Article Date"
        formControlName="date"
        required
        type="date"
      />
    </mat-form-field>

    <button
      mat-raised-button
      class="btn"
      type="submit"
      [disabled]="!newLink.valid"
    >
      Submit
    </button>
  
  </form>

</div>
  