<div class="container">
  
  <form
    class="formContainer"
    [formGroup]="newLink"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(newLink, formDirective)"
  >
    <mat-form-field class="inputs">
      <input
        autofocus
        matInput
        placeholder="Article Title"
        formControlName="title"
        required
      />
    </mat-form-field>

    <mat-form-field class="inputs">
      <input
        matInput
        placeholder="URL"
        formControlName="url"
        required
        type="url"
      />
    </mat-form-field>


    <mat-form-field class="inputs">
      <input matInput 
        tabindex="-1"
        [matDatepicker]="picker" 
        placeholder="Choose a date"
        formControlName="date"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker 
        startView="multi-year" 
        >
        <!-- [startAt]='startDate' -->
      </mat-datepicker>
    </mat-form-field>



    <!-- <mat-form-field class="inputs ">
      <input 
        matInput 
        formControlName="date"
        placeholder="Choose a date"
        type="date"
        required
      >
    </mat-form-field> -->

    <button
      mat-raised-button
      class="btn"
      type="submit"
      [disabled]="!newLink.valid"
    >
      Submit
    </button>
  
  </form>

</div>
  