.container {
  width: 90%;
  margin: 0.5em auto;
  /* outline: 1px solid green; */
}

.artistName {
  width: 45%;
}

.albumAlbum {
  width: 45%;
  text-align: left;
}




.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  width: 75px;
}

.buttons button:hover {
  background-color: rgba(153, 153, 153, .25)
}