<div class="container" *ngIf="allAlbums?.length > 0; else noAlbums">
    <mat-accordion class="accordian" >
      <mat-expansion-panel  *ngFor="let album of allAlbums" #mep="matExpansionPanel" hideToggle>

        <mat-expansion-panel-header 
            collapsedHeight="60px" 
            expandedHeight="60px"
            class="panelHeader"
        >
          
          <mat-panel-title class="artistName">

            <img 
              class="albumCover mat-elevation-z1"
              [src]=" album.image75 "  
              alt="{{album.artist}} {{album.album}} Cover Art"
              loading="lazy"
            >

            {{ album.artist }}

          </mat-panel-title>

          <mat-panel-description class="artistAlbum">
            {{ album.album }}
          </mat-panel-description>

          <mat-icon class="editIcon">edit</mat-icon>


        </mat-expansion-panel-header>

        <div class="mainInfo">
        <mat-form-field class="albumArtist">
          <input 
            matInput            
            placeholder="Artist"
            name="artist"
            required
            [(ngModel)]="album.artist"
          >
        </mat-form-field>
        
        <mat-form-field class="albumAlbum">
          <input
          matInput          
          placeholder="Album"
          name="album"
          [(ngModel)]="album.album"
          required
          />
        </mat-form-field> 

        <mat-form-field class="albumRelease">
          <input matInput 
            [matDatepicker]="datePicker"
            placeholder="Release Date" 
            [(ngModel)]="album.releaseDate"
            required
            >
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
    

        </div>


        <mat-form-field  class="albumURL">
          <input
          matInput
          placeholder="Spotify URL"
          name="spotify"
          [(ngModel)]="album.spotify"
          required
          type="url"
          />
        </mat-form-field> 
        
        <br/>


        <mat-radio-group
          aria-label="Select Credit Type"
          class="albumCreditType"
          [(ngModel)] = "album.creditType"
        >

        <mat-radio-button color="primary" value="Single">Single</mat-radio-button>
        <mat-radio-button color="primary" value="Album">Album</mat-radio-button>
        <mat-radio-button color="primary" value="Other">Other</mat-radio-button>

      </mat-radio-group>

      <mat-form-field *ngIf="(album.creditType != 'Single') && (album.creditType != 'Album') ">
        <input
          matInput
          class="otherType"
          placeholder="Other"
          [(ngModel)] = "album.creditType"
          [ngModelOptions]="{standalone: true}"
          required
        />
      </mat-form-field>

        <br/>
                                        

      <div class="albumCredits" >

        <div class="credit" *ngFor="let credit of album.credits; index as i; trackBy:customTrackBy">
          <mat-form-field class="creditInput">
            <input
              matInput
              placeholder="Credit"
              name="credit"
              [(ngModel)]="album.credits[i]"
              required
            />
          </mat-form-field> 
          
          <button 
            *ngIf="album.credits.length > 1"
            mat-icon-button 
            class="removeCreditBtn"
            color="warn"
            title="Remove Credit"
            (click)="removeCredit(album, i)"
          >
            <mat-icon aria-label="Remove Credit">
              remove
            </mat-icon>
          </button>
        </div>

      </div>
      
      
      <button  
        mat-icon-button 
        class="addCreditBtn" 
        color="primary"
        title="Add Another Credit"
        (click)="addCredit(album)">
        <mat-icon aria-label="Add Another Credit">
          add
        </mat-icon>
        
      </button>  








  
      <div class="buttons">
        <button 
          mat-button
          color="primary"
          (click)="updateAlbum(album)"  
          (click)="mep.expanded = false;" 
          class="updateBtn mat-elevation-z1"
          title="Update Album"
        >
          <mat-icon aria-label="Update album">
              update
          </mat-icon>
        </button>

        <button 
          mat-button
          color="warn"
          (click)="deleteAlbum(album.id, album.imageName)" 
          class="deleteBtn mat-elevation-z1"
          title="Delete Album"
        >
          <mat-icon aria-label="Remove album">
            remove
          </mat-icon>
        </button>
      </div>
  
  
      </mat-expansion-panel>
  
    </mat-accordion>
  
  </div>
    
  
  <ng-template #noAlbums>
    <h3 class="templateTitle">
      {{templateString}}
    </h3>
  </ng-template>
  
