<div class="container">
    <!-- <h1>
      Upload New Album
      <hr />
    </h1> -->
  
  <form
    class="formContainer"
    [formGroup]="newAlbum"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(newAlbum, formDirective)"
    >

    <div class="left">
      <mat-form-field>
        <input
          autofocus
          matInput
          class="artist"
          placeholder="Artist"
          formControlName="artist"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="album"
          placeholder="Album"
          formControlName="album"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="year"
          type="number"
          placeholder="Year Released"
          formControlName="year"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="spotify"
          placeholder="Spotify Link"
          formControlName="spotify"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Credits"
          formControlName="credits"
          required
          />
        </mat-form-field>
        
        <div
        class="moreCredits"
        formArrayName="moreCredits"
        *ngFor="let credit of moreCredits.controls; let i = index"
        >
        <mat-form-field class="newCredits">
          <input
            matInput
            placeholder="Credits"
            [formControlName]="i"

          />
        </mat-form-field>
        <button 
          mat-mini-fab 
          type="button" 
          class="removeCredit"
          color="primary"
          title="Remove Credit"
          (click)="removeCredit(i)"
          >
          <mat-icon
          aria-label="Remove Credit">
          remove
        </mat-icon>
      </button>
    </div>
    
    <button mat-raised-button 
      mat-mini-fab 
      type="button" 
      class="addCreditBtn" 
      color="primary"
      title="Add Another Credit"
      (click)="addCredit()">
        <mat-icon
        aria-label="Add Another Credit"
        >add
      </mat-icon>
      <!-- Add Another Credit -->

    </button>
    </div>

    <div class="right">
      <img
        *ngIf="!reader"
        class="albumImage"
        #albumCover
        src="https://firebasestorage.googleapis.com/v0/b/skinnyportfolio-2.appspot.com/o/brands%2Fthumb%40200_AddImageHere.png?alt=media&token=445d2b01-c8bb-4825-a154-2b48e8df8937"
        />
      <img *ngIf="reader" class="albumImage" #albumCover src="#" />

      <input
        class="file"
        type="file"
        style="display: none"
        (change)="imagePreview($event)"
        #fileInput
        formControlName="image"
      />
      <button
        mat-raised-button
        type="button"
        class="fileBtn"
        (click)="fileInput.click()"
        title="Pick album cover"
      >
        Choose File
      </button>


      <mat-radio-group
        aria-label="Select Credit Type"
        class="creditType"
        formControlName="creditType"
        (change)="showOtherCreditType($event)"

        >
        <mat-radio-button color="primary" value="Single">Single</mat-radio-button>
        <mat-radio-button color="primary" value="Album">Album</mat-radio-button>
        <mat-radio-button color="primary" value="Other">Other</mat-radio-button>

      </mat-radio-group>
      
      <mat-form-field *ngIf="otherCreditType">
          <input
          matInput
          class="otherType"
          placeholder="Other"
          [(ngModel)] = "otherType"
          [ngModelOptions]="{standalone: true}"
          required
          />
        </mat-form-field>




    </div>

    <button
      mat-raised-button
      class="submitBtn"
      type="submit"
      [disabled]="!newAlbum.valid"
      >
      Submit
    </button>
  </form>




    <!-- <ng-container *ngIf="(uploadPercent | async); let uploadPercent">
      <mat-progress-bar
        mode="determinate"
        *ngIf="uploadPercent !== 100"
        [value]="uploadPercent"
      ></mat-progress-bar>
    </ng-container> -->
</div>
  