.container {
  width: 90%;
  margin: 0.5em auto;  
  }
  
  .formContainer {
    padding: 1.5em 2em 3em;
  
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 55px;
    grid-template-areas:
    "input image"
    "btn btn";
  }
  
  .input {
    grid-area: input;
  }

  .input .placeholder {
    color: black;
  }

  .input mat-form-field {
    display: block;
  }
  
  .newCredits{
    display: inline-block !important;
    width: 80%;
  }

  .removeCredit{
    margin-left: 3%;
    background-color: #666;
  }
  
  .removeCredit:hover{
    background-color: red;
  }
  
  .addCreditBtn{
    width: 100%;
    background-color: #666;
  }
  
  .addCreditBtn:hover{
    background-color: #999;
  }
  
  .imageUpload {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    display: block;
  }
  
  .file {
    display: block;
  }
  
  .fileBtn {
    margin: 1em;
  }
  
  .fileBtn:hover {
    background-color: #999;
  }
  img {
    min-height: 225px;
    min-width: 225px;
    max-height: 225px;
    max-width: 225px;
    outline: 1px solid rgb(33, 33, 33)
  }
  
  .btn {
    grid-area: btn;
    margin-top: 1.5em;
  }
  