.sidenav-container {
    height: 100%;
  }
  
  .sidenav-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: #fff; */
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
 

  /* =-=-=-=-== */


  .mat-toolbar{
    z-index: 999;
    position: sticky;
    top: 0;
    height: 2em;
    margin: 0 auto .75em;
    text-shadow: 0 2px 2px #000;
    padding: 0;
    background-color: rgba(50, 50, 50, 0.9);
  }

  /* =-=-=-=-== */
  
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .menuBtn {
    color: rgba(255, 255, 255, .9);
    position: absolute;
    right: 15px;
    top: 7px;
  }
  
  .mobileHeaderTitle {
    margin-left: 15px;
    text-decoration: none;
    color: white;
  }
  
  .mobileHeader .socialIconsMobile {
    display: inline;
    position: relative;
    top: 3px;
  }

  .mobileHeader .iconMobile {
    /* fill: #fff; */
    margin-left: 1em;
  }
  
  .mobileHeader .iconMobile svg {
    width: 1em;
    height: 1em;
  }
  
  .mobileHeader .iconMobile {
    fill: #fff;
  }
 
  .mobileHeader .filter {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1));
  }


  /* -=-=-=-=-=-= Desktop -=-=-=-=-= */


  .desktopToolbar {
    z-index: 999;
    position: sticky;
    top: 0;
    height: 2em;
    margin: 0 auto .75em;
    text-shadow: 0 2px 2px #000;
    padding: 0;
    background-color: rgba(50, 50, 50, 0.9);
    justify-content: flex-end;
  }
  
  .admin {
    position: absolute;
    top: 3em;
    right: 1em;
  }
  
  .title {
    margin-left: 20px;
    display: inline-block;
  }
  
  .title h1 {
    /* font-family: 'Raleway', sans-serif !important; */
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    display: inline;
    cursor: pointer;
    color: #fff;
  }

  .title .socialIcons {
    display: inline;
    position: relative;
    top: 3px;
  }

  .title .icon {
    fill: #fff;
    margin-left: .5em;
  }
  
  .title .icon svg {
    width: 1em;
    height: 1em;
  }
  
  .title .icon:hover {
    fill:rgb(247,119,55)
  }
  
  .title .icon:hover:nth-child(2) {
    fill: rgb(0, 172, 237);
  }

  .title .filter {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1));
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  .navigation{
    margin-right: 15px;
  }

  .navigation a{
    color: rgba(255, 255, 255, 1); 
  }

  .navLink{
    margin: 0 3px;
  }
  
  .navigation a {
    /* font-family: 'Raleway', sans-serif !important; */
    font-family: 'Source Sans Pro', sans-serif !important;

    font-size: 0.75em;
    text-decoration: none;
  }
  
  .navigation a:hover {
    color: rgba(255, 255, 255, .75);
  }
  
  
  .colorButton {
    opacity: .75;
  }
  
  
  .mobileToolbar {
    z-index: 999;
  }
  
  
  /* mobile */
  @media all and (min-width: 0) and (max-width: 415px) and (orientation: portrait) {
    .mobileToolbar {
      position: sticky;
      top: 0;
      background-color: rgba(50, 50, 50, .85);
    }

    .menuBtn {
      top: 0;
    }
  }
  
  @media all and (min-width: 415px) and (max-width: 899px) and (orientation: landscape) {
    .mobileToolbar {
      position: sticky;
      top: 0;
      height: 35px;
      margin-bottom: 1em;
      background-color: rgba(50, 50, 50, .85);
    }
  
    .menuBtn {
      position: absolute;
      right: 15px;
      top: -3px;
    }

  }
  