<div class="container mat-elevation-z2">
    <h1 class="header">
      About
      <hr />
    </h1>
    <div class="pageContainer">
      <div class="about">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
          maiores provident eveniet porro. Optio libero consectetur sed iusto
          voluptate reprehenderit minima autem quo facere molestiae, quis
          inventore magnam quas perspiciatis. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Eaque aspernatur inventore corporis
          assumenda aliquam quo minus, blanditiis quam sapiente ad voluptatibus
          officiis? Eveniet ullam voluptate fugit, voluptas nihil autem
          asperiores?
        </p>
        <div class="links">
          <h3>
            Press Articles
            <hr />
          </h3>
          <app-list-links></app-list-links>
        </div>
      </div>
  
      <div class="image mat-elevation-z5" [@.disabled]='animate' @slideLeft>
        <img src="../../assets/ryan-shanahan.jpg" alt="Ryan Shanahan" />
      </div>
    </div>
  </div>
  