.container {
  width: 90%;
  margin: 3em auto 2em;
  padding: 0 2em;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  "mainContent image"
                        "externalLinks image";
}

.header {
  display: none;
}

.image {
  grid-area: image;
  width: 90%;
  height: 100%;
  max-height: 600px;
  margin-left: 10%;
  border-radius: 4px;
}

.image img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  object-fit: cover;
}

.mainContent {
  grid-area: mainContent;
  max-width: 100%;
  margin-right: 0.5em;
}


.about p {
  margin: 0;
}

.about .creditSource {
  display: grid;
  grid-template-columns: [left]55% [right]45%;
  margin: 25px auto 3em;
  height: 35px;
  width: 100%;
}

.about .creditSource .allmusic {
  grid-area: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .creditSource .allmusic img{
  height: 25px;

}

.about .creditSource .discogs {
  grid-area: right;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .creditSource .discogs img {
  height: 30px;
}

.externalLinks {
  grid-area: externalLinks;
  width: 100%;
  display: grid;
  grid-template-columns: [press]55% [plugins]45%;
}

.externalLinks .press {
  grid-area: press;
}

.externalLinks .press h2{
  margin-top: 0;
  margin-bottom: .25em;
}

.externalLinks .plugins {
  grid-area: plugins;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.externalLinks .plugins img {
  max-height: 50px;
  max-width: 100px;
  width: auto;
}

.externalLinks .plugins a:nth-child(even) {
  margin: 1em;
}

 
/* =~=~=~=~=~=~ Media Queries =~=~=~=~=~=~ */

/* Phone Portrait */
@media only screen and (max-width: 599.99px) and (orientation: portrait) {
  .container{
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-rows: 50px 190px 1.25fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:  "headerMobile"
                          "imageMobile"
                          "mainContentMobile"
                          "externalLinksMobile"
  }
    
  .header{
    grid-area: headerMobile;
    display: block;
    margin: 0.2em;
    font-size: 2.2em;
    text-align: center;
  }

  .header .hr {
    margin: 10px 0;
  }

  .image {
    grid-area: imageMobile;
    height: 150px;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 0;
    border-radius: none;
  }
  
  .image img {
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: none;
  }

  .mainContent {
    grid-area: mainContentMobile;
    margin-right: 0;
  }

  .about p{
    text-align: justify;
  }

  .about .creditSource {
    display: grid;
    grid-template-columns: [left]1fr [right]1fr;
    height: 35px;
    width: 100%;
  }
  
  .about .creditSource .allmusic {
    grid-area: left;
    width: 100%;
  }
  
  .about .creditSource .discogs {
    grid-area: right;
    width: 100%;
  }

  .externalLinks {
    grid-area: externalLinksMobile;
    width: 100%;
    display: grid;
    grid-template-columns: [press]1.5fr [plugins].5fr;
  }

  .externalLinks .plugins a:nth-child(even) {
    margin: 1.5em;
  }

}




  /* Phone Landscape */
@media only screen and (max-width: 959.99px) and (orientation: landscape) {
  .container{
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr .65fr;
    grid-template-rows: 80px 1.25fr .5fr;
    grid-template-areas:  "headerMobile headerMobile"
                          "mainContentMobile imageMobile"
                          "externalLinksMobile externalLinksMobile"
  }  
   
  .header{
    grid-area: headerMobile;
    display: block;
    margin: 0.2em;
    font-size: 2.2em;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .header .hr {
    margin: 10px 0;
  }

  .image {
    grid-area: imageMobile;
    max-height: 300px;
    width: 100%;
    margin-left: 1em;    
  }
  
  .image img {
    width: 100%;
    height: 100%;
  }

  .mainContent {
    grid-area: mainContentMobile;
    height: 100%;
    width: 100%;
    margin-right: 0;
  }

  .about p{
    text-align: justify;
    margin-right: 1.5em;
  }
  
  .externalLinks {
    grid-area: externalLinksMobile;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [press]1.5fr [plugins].5fr;
  }
  
  .externalLinks .plugins a:nth-child(even) {
    margin: 1.5em;
  } 

}






/* iPad Portrait */
@media only screen and (min-width: 600px) and (max-width: 839.99px) and (orientation: portrait) {

  .container{
    max-width: 98%;
    margin: 0.5em auto 1.5em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr .65fr;
    grid-template-rows: 1.25fr .5fr;
    grid-template-areas:  "mainContentMobile imageMobile"
                          "externalLinksMobile externalLinksMobile"
  }  
   
  .image {
    grid-area: imageMobile;
    max-height: 300px;
    width: 100%;
    margin-top: 2em;
    margin-left: 1em;    
  }
  
  .image img {
    width: 100%;
    height: 100%;
  }

  .mainContent {
    grid-area: mainContentMobile;
    height: 100%;
    width: 100%;
    margin-top: 2em;
    margin-right: 0;
  }

  .about p{
    text-align: justify;
    margin-right: 1.5em;
  }
  
  .externalLinks {
    grid-area: externalLinksMobile;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [press]1.5fr [plugins].5fr;
  }
  
  .externalLinks .plugins a:nth-child(even) {
    margin: 1.5em;
  } 



}

/* iPad Landscape */
@media only screen and (min-width: 960px) and (max-width: 1279.99px) and (orientation: landscape){

}

/* iPad Pro Portrait */
@media only screen and (min-width: 1024px) and (orientation: portrait) { 

}



















  /* mobile */
  /* @media all and (min-width: 0) and (max-width: 415px) and (orientation: portrait) {
    .container {
      max-width: 90%;
      margin: 0.5em auto 0;
      padding: 0 2em;
    }
  
    .pageContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: [image]auto [lSide] 1.5fr [rSide] auto;
      padding-bottom: 1em;
      margin-bottom: 2em;
    }
  
    .about {
      grid-area: lSide;
      text-align: center;
    }
  
    .externalLinks {
      grid-area: rside;
      text-align: center;
    }
  
    .header {
      visibility: visible;
      height: auto;
      padding-top: 0.5em;
      margin-bottom: 0;
    }
  
    h1 {
      margin-bottom: 0.25em;
    }
  
    .image {
      grid-area: image;
      height: 150px;
      width: 150px;
      margin-left: calc(50% - 75px);
      margin-bottom: 1em;
    }
  
    .image img {
      height: 100%;
      width: 100%;
      background-position: 50%;
      background-repeat: no-repeat;
      object-fit: cover;
      border-radius: 50%;
    }
  } */
  
  /* mobile-small-landscape */
  /* @media all and (min-width: 415px) and (max-width: 899px) and (orientation: landscape) {
    .container {
      max-width: 90%;
    }
  
    .pageContainer {
      display: grid;
      display: grid;
      grid-template-columns: [lSide] 1.75fr [rSide] 1fr;
    }
  
    .header {
      visibility: visible;
      height: auto;
      padding-top: 0.5em;
      margin-bottom: 0;
    }
  
    .about {
      grid-area: lSide;
    }
  
    .about p {
      margin-right: 0.75em;
    }
  
    .externalLinks {
      text-align: center;
    }
  
    .image {
      grid-area: rSide;
      height: 250px;
      width: 250px;
      margin-left: calc(50% - 125px);
      margin-bottom: 1em;
    }
  } */
  