.container {
  width: 90%;
  margin: 0.5em auto;
  outline: 1px solid green;
}

table {
 width: 100%;
}

/*

.title,
.link,
.delete {
  width: 20%;
}

.desc {
  width: 40%;
}

.delete {
  text-align: center;
}
   */