.container {
  width: 90%;
  margin: 0.5em auto;
  /* outline: 1px solid green; */
}

.linkTitle {
  width: 65%;
}

.linkDate {
  margin-left: 9.5%;
  width: 25%;
}

.linkURL {
  display: block;
  width: 100%;
}




.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: .5em 0;
}

.buttons button {
  width: 75px;
}

.buttons .updateBtn {
  background-color: rgba(70, 87, 183, .25);
}

.buttons .updateBtn:hover {
  background-color: rgba(70, 87, 183, 1);
  color: #fff;
}

.buttons .deleteBtn {
  background-color: rgba(239, 68, 58, .25);
}

.buttons .deleteBtn:hover {
  background-color: rgba(239, 68, 58, 1);
  color: #000;
}

