.container {
  width: 90%;
  margin: 0.5em auto;
  /* outline: 1px solid green; */
}

.linkTitle {
  width: 65%;
}

.linkDate {
  margin-left: 9.5%;
  width: 25%;
}

.linkURL {
  display: block;
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  width: 75px;
}

.buttons button:hover {
  background-color: rgba(153, 153, 153, .25)
}