<div class="container" *ngIf="allLinks?.length > 0; else noLinks">
  <mat-accordion class="" >
    <mat-expansion-panel  *ngFor="let link of allLinks" #mep="matExpansionPanel" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ link.title }}
        </mat-panel-title>
        <mat-icon class="editIcon">edit</mat-icon>


      </mat-expansion-panel-header>
      <mat-form-field class="linkTitle">
        <input 
          matInput
          
          placeholder="Article Title"
          name="title"
          required
          [(ngModel)]="link.title"
        >
      </mat-form-field>
      
      <mat-form-field class="linkDate">
        <input
        matInput
        
        placeholder="Date"
        name="date"
        [(ngModel)]="link.date"
        type="date"
        required
        />
      </mat-form-field> 
  
      <mat-form-field class="linkURL">
        <input
          matInput
          placeholder="URL"
          name="url"
          [(ngModel)]="link.url"
          required
        />
      </mat-form-field>

      <div class="buttons">

        <button 
          mat-button
          color="primary"
          (click)="updateLink(link)"  
          (click)="mep.expanded = false;" 
          class="updateLinkBtn"
        >
          <mat-icon
            aria-label="Update Link"
            title="Update Link"
          >
            update
          </mat-icon>
        </button>
        <button 
          mat-button
          color="warn"
          (click)="deleteLink(link.id)" 
          class="deleteBtn"
        >
        <mat-icon
          aria-label="Remove Link"
          title="Delete Link"
        >
          remove
        </mat-icon>
      </button>
    </div>


    </mat-expansion-panel>

  </mat-accordion>


</div>
  

<ng-template #noLinks>
  <h3>
    There are no links to delete
  </h3>
</ng-template>
