<div
  class="album mat-elevation-z2"
  *ngIf="albumInfo != null"
  @fade
  title="Listen on Spotify"
>


<img src="{{ albumInfo.image }}" 
              alt="Album Cover for {{ albumInfo.artist }} {{ albumInfo.album }}" 
/>

<!-- 
  TODO: Use this when thunbNails are working
  <img src="small.jpg" srcset="medium.jpg 1000w, large.jpg 2000w" alt="yah">
 -->


<div class="details">
  <p class="year">{{ albumInfo.year }}</p>
  <p class="artist"><strong> {{ albumInfo.artist }} </strong></p>
  <p class="albumTitle">{{ albumInfo.album }}</p>
  <p class="type"> Single </p>
</div>




</div>

  

<!-- 
  <span>
  
  </span> 
  -->
  
    
