.album {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.album img {
  width: 100%;
  height: 100%;
}

.album:hover .details{
  visibility: visible;
  opacity: 1;
}

.album .albumCover:hover{
  filter: grayscale(75%);
}

.album .details {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(66, 66, 66, .8);
  position: absolute;
  top: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  transition: all .35s cubic-bezier(.28,.41,.48,.86);
}

.album .details p{
  line-height: 1.3em;
  margin: 0;
  padding-left: 15px;
}

.album .details .year{
  padding-top: 20px;
  font-size: .95em;
  margin-bottom: .75em;
}

.album .details .artist{
  font-size: 1.1em;
}

.album .details .albumTitle{
  font-size: 1.1em;
  padding-bottom: 45px;
}

.album .details .type{
  font-size: .8em;
  position: absolute;
  bottom: 0;
  height: 45px;
  color: rgba(255, 255, 255, 0.75)
}

.album .details .spotify {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 18px;
  right: 18px;
  z-index: 10;
  cursor: pointer;
  animation: spotBounce 1.3s infinite 0s ease-in-out;
}

@keyframes spotBounce{
  50%{
      transform: scale(1.1);
      }
}



  
  
/* mobile-large */
/* @media all and (min-width: 0) and (max-width: 415px) and (orientation: portrait) { */

  @media (max-width: 599.99px) and (orientation: portrait) {
  .album .details p{
    padding: 0 10px;
  }

  .album .details .year{
    display: none;
  }

  .album .details .artist{
    padding-top: 10px;
    font-size: 1em;
    margin-bottom: 2px;
  }

  .album .details .albumTitle{
    font-size: 1em;
  }

  .album .details .type{
    font-size: .75em;
    position: absolute;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.75)
  }

  .album .details .spotify {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

}

@media (max-width: 959.99px) and (orientation: landscape) {
  /* .album .details p{
    padding: 0 10px;
  }

  .album .details .year{
    display: none;
  }

  .album .details .artist{
    padding-top: 10px;
    font-size: 1em;
    margin-bottom: 2px;
  }

  .album .details .albumTitle{
    font-size: 1em;
  }

  .album .details .type{
    font-size: .75em;
    position: absolute;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.75)
  }

  .album .details .spotify {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 8px;
    right: 8px;
  } */

}




  /* mobile-small-landscape */
  @media all and (min-width: 415px) and (max-width: 899px) and (orientation: landscape) {



  }

  