<div
  class="album mat-elevation-z2"
  *ngIf="albumInfo != null"
  @fade
  title="Listen on Spotify"
  (click) = "openSpotify(albumInfo.spotify)"
  >

  <img [src]=" images.image75 | async " 
      srcset="{{images.image75 | async }} 75w, {{images.image200 | async }} 200w, {{images.image425 | async }} 425w"
      alt="Album Cover for {{ albumInfo.artist }} {{ albumInfo.album }}" 
  />

  <div class="details">
    <p class="year">{{ albumInfo.year }}</p>
    <p class="artist"><strong> {{ albumInfo.artist }} </strong></p>
    <p class="albumTitle">{{ albumInfo.album }}</p>
    <p class="type"> {{albumInfo.creditType}} </p>
  </div>

</div>

  

<!-- 
  <span>
  
  </span> 
  -->
  
    
